* {
  box-sizing: border-box;
}

@mixin button {
  text-decoration: none;
  color: #fff;
  background-color: #212121;
  padding: 16px 20px;
  display: block;
  margin-bottom: 24px;
  border-radius: 9999px;
  outline: #323232 solid 0;
  transition: outline-width 0.08s linear;

  &:hover {
    outline-width: 4px;
  }
}

#app {
  height: 100vh;
  background-color: #000;
  color: #fff;

  #page-index {
    padding: 32px 30%;

    h1 {
      display: flex;
      align-items: center;
      gap: 4px;

      svg {
        width: 48px;
        height: 48px;
      }
    }

    a {
      @include button();
    }
  }

  #page-smart {
    // display: flex;
    gap: 16px;

    .left {
      flex: 1;
      padding: 16px;
      padding-right: 0;

      a {
        @include button();
      }

      iframe {
        width: 100%;
        aspect-ratio: 16 / 9;
      }
    }

    .code {
      flex: 1;
      max-height: 100vh;
      overflow: auto;
      padding: 16px;

      pre {
        margin: 0;
        line-height: 1.4;
      }
    }
  }
}
